
@import url('https://fonts.googleapis.com/css?family=Sanchez');
body{
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}
header{
	
	
	color: #FFFFFF;
	
}

.nav{
	padding: 5px;
}

#sec-logo{
	background-color: #193741;
	padding-top: 80px;
	border-top: #320722 solid 15px; 
	
}


#sec-off{
	margin: 100px;
}

#sec-off p{
	color:#5F7741;
	padding-top:5px;
}

#sec-footer {
	background-color: #320722;
	font-size: 12px;
	color: #FFFFFF;
	padding: 30px;
}

#sec-footer ul{
	
	list-style: none;
}

#sec-footer a:hover{color: #666;
	text-decoration: none;
	
}

#sec-footer a{
	color: #FFFFFF;
}

#sec-copy{
	color: white;
	background-color:#26051B;
	padding: 16px;
}

#sec-about{
	background-color: #FFFFFF;
	padding: 80px;
		
}


#sec-about h1{
	align-content: center;
	padding: 50px;
	margin-left: -20px;
	color:#5F7741; 
}

.address{
	padding-top: -15px;
}

.side-map{
	padding-top: 38px; 
	
}

.side-map h3{
	font-size: 16px;
}

#sec-footer .fab{
	font-size: 25px;
}

.nombrecartera {
	font-family: 'Sanchez', serif;

}

.boton-morado{
	background-color:#320722; 
	
}

#sec-off h2 {
	font-family: 'Poppins', sans-serif;
	color:#5F7741;
	font-family: 'Sanchez', serif;
	padding-bottom: 60px;
	
}

#hashtag{
	font-family: 'Sanchez', serif;
	color: #AAA4A4;
}

.cartera img{
	cursor: pointer;
}


